.container{
	width: 80%;
	height: 600px;
	background-color: pink;
	margin:50px auto;
	overflow: hidden;

	}

.outer-shell{
	background-color: darkgray;
	width: 75%;
	height: 450px;
	margin-left: 16%;
	margin-top: 7%;
	overflow: hidden;


}

.inner-shell{
	background-color: black;
	width: 67%;
	height: 80px;
	margin-left: 26%;
	padding-top: 38%;
	margin-top: 2%;
	overflow: hidden;
	position: relative;


}
ul {
	top: 10px;
	float: left;
}

li{
	list-style-type: none;
	padding-bottom: 20px;

}

.left-AM-PM-Auto-labels{
	color: white;
	/*background-color: yellow;*/
	overflow: hidden;
	position: absolute;
	top: 100px;
	left: 0;
}

.clock-screen{
	background-color: darkred;
	width: 60%;
	height: 200px;
	float: right;
	display: inline-block;
	margin-top: -270px;
	margin-right: 83px;

}

.clock-AM-PM-indicator{
	background-color: red;
	width: 10px;
	height: 10px;
	border-radius: 5px;

}

.clock-text{
	color: red;
}

.bottom-Am-label-Freq .bottom-Fm-label-Freq{
	color: white;
}