body{
	/*min-width: 1470px;*/
}

window{
	/*min-width: 770px;*/
}
.container{
	width: 80%;
	height: 500px;
	margin-left: auto;
	margin-right: auto;
	top: 100px;
	background-color: pink;
	position: relative;
	min-width: 1470px;

}	

.outer-shell{
	background-color: darkgray;
	width: 75%;
	height: 450px;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	position: absolute;

}

.inner-shell{
	background-color: black;
	width: 67%;
	height: 300px;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	position: absolute;


}
ul {
	top: 10px;
}

li{
	list-style-type: none;
	padding-bottom: 20px;
	text-align: right;

}

.left-AM-PM-Auto-labels{
	color: white;
	position: absolute;
	top: 100px;
	left: 0;
}

.clock-screen{
	background-color: darkred;
	width: 70%;
	height: 200px;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	position: absolute;


}

.clock-AM-PM-indicator{
	background-color: red;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	display: inline-block;
	margin-top: 81px;


}

.clock-text{
	color: red;
	font-size: 100px;
	width: 70%;
	height: 50%;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	position: absolute;


}

.spacing{
	left: 100px;
	position: absolute;
}

.bottom-Am-label-Freq, .bottom-Fm-label-Freq{
	color: white;
	width: 80%;
	height: 50px;
	display: inline-block;
	position: absolute;
	top: 260px;
	left: 10%;
}
.bottom-Fm-label-Freq{
	top: 280px;
}